# Ignorar archivos copilados de Java
*.class

# Ignorar archivos temporales de blueJ
*.ctxt
*.bluej
*.pkg
package.bluej

# Ignorar carpetas de compilación
bin/
out/

# Ignorar archivos temporales de astah
*.asta.lock